In [1]:
# !pip install pyspark

In [2]:
# !pip install findspark

In [3]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [5]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark